In [34]:
import pandas as pd
import spacy
from spacy.matcher import Matcher
from spacy.tokens import Span
from spacy import displacy
import re

In [35]:
#importing text
text = "LKR 8 780/- nett per person per night on double full board basis, LKR 10 851 phone number 0775233585 hotellanka123@gmail.com www.hotel12.com 2012-01-08 get 25% discount sampath bank and BOC"

#remove /- mark in the prices
text = text.replace("/-", "")

#remove space between prices
text = re.sub(r'(\d)\s+(\d)', r'\1\2', text)
text

'LKR 8780 nett per person per night on double full board basis, LKR 10851 phone number 0775233585 hotellanka123@gmail.com www.hotel12.com 2012-01-08 get 25% discount sampath bank and BOC'

In [36]:
#Defining the required variables.
half_board_Price =[]
full_board_Price = []
email = []
website =[]
phone =[]
discount =[]
bank_name =[]

In [37]:
#extracting full board and half board prices based on the max and min prices

In [38]:
hb_price=re.findall(r"(\d{1,5})(?=\s*nett)|(\d{1,5})(?=\s*LKR)|(\d{1,5})(?=\s*lkr)|(\d{1,5})(?=\s*Lkr)|(\d{1,5})(?=\s*Nett)|(\d{1,5})(?=\s*NETT)|(?<=LKR\s)(\d{1,5})|(?<=lkr\s)(\d{1,5})|(?<=Lkr\s)(\d{1,5})|(?<=Rs.\s)(\d{1,5})|(?<=rs.\s)(\d{1,5})|(?<=RS.\s)(\d{1,5})", text)

#cleanup the tuple
hb_price = [tuple(j for j in i if j)[-1] for i in hb_price] 

#getting the min price as half board price
hb_price = list(map(float,hb_price)) 
print(min(hb_price))
half_board_Price=min(hb_price)

half_board_Price = [float(half_board_Price)]

print(type(half_board_Price))

8780.0
<class 'list'>

In [39]:
fb_price=re.findall(r"(\d{1,5})(?=\s*nett)|(\d{1,5})(?=\s*LKR)|(\d{1,5})(?=\s*lkr)|(\d{1,5})(?=\s*Lkr)|(\d{1,5})(?=\s*Nett)|(\d{1,5})(?=\s*NETT)|(?<=LKR\s)(\d{1,5})|(?<=lkr\s)(\d{1,5})|(?<=Lkr\s)(\d{1,5})|(?<=Rs.\s)(\d{1,5})|(?<=rs.\s)(\d{1,5})|(?<=RS.\s)(\d{1,5})", text)

#cleanup the tuple
fb_price = [tuple(j for j in i if j)[-1] for i in fb_price] 

#getting the max price as full board price
fb_price = list(map(float,fb_price)) 
print(max(fb_price))
full_board_Price=max(fb_price)
full_board_Price = [float(full_board_Price)]

10851.0

In [40]:
#extracting the email

email = re.findall(r'[\w\.-]+@[\w\.-]+', text) #getting the email
email

['hotellanka123@gmail.com']

In [41]:
#extracting the website

website = re.findall(r'[www]\S*', text) #getting the email
website

['www.hotel12.com']

In [42]:
#extracting the contact number

phone = re.findall(r'\d{10}|\d{11}|\d{9}', text)
phone

['0775233585']

In [43]:
#extracting the date

date = re.findall(r'[0-9]{2}-[0-9]{2}-[0-9]{4}|[0-9]{4}-[0-9]{2}-[0-9]{2}|[0-9]{2}-[0-9]{2}-[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{4}|[0-9]{4}/[0-9]{2}/[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{2}', text,re.IGNORECASE)
date

['2012-01-08']

In [44]:
#extracting the discount rate

discount =  re.findall(r'\d.%', text)
discount

['25%']

In [45]:
#extracting the card payment offered bank name

bank_name = re.findall(r'Sampath Bank|Amana Bank PLC|Bank of Ceylon|Bank of China Ltd|Cargills Bank Ltd|Citibank|Commercial Bank of Ceylon PLC|Deutsche Bank AG|DFCC Bank PLC|Habib Bank Ltd|Hatton National Bank PLC|Indian Bank|Indian Overseas Bank|MCB Bank Ltd|National Development Bank PLC|Nations Trust Bank PLC|Pan Asia Banking Corporation PLC|People s Bank|Public Bank Berhad|Seylan Bank|Standard Chartered Bank|State Bank of India|HSBC|Union Bank of Colombo|American Express|Amex|Seylan|ComBank|ABL|BOC|CBC|DFCC|HNB|ICICI|NDB|NTB|SBI|HSBC', text, flags=re.IGNORECASE)
bank_name

['sampath bank', 'BOC']

In [46]:
#make a dataframe 
df = pd.DataFrame(list(zip(*[half_board_Price,full_board_Price,website,phone,date,discount,bank_name]))).add_prefix('Col')
df.rename(columns = {'Col0':'half_board_Price', 'Col1':'full_board_Price','Col2':'website','Col3':'phone','Col4':'date','Col5':'discount','Col6':'bank_name'}, inplace = True)

#save dataframe as a csv
df.to_csv('file.csv', index=False)
df

,half_board_Price,full_board_Price,website,phone,date,discount,bank_name
0,8780.0,10851.0,www.hotel12.com,0775233585,2012-01-08,25%,sampath bank